<h1>MailMonsters</h1>
	<ul>
		<% for i in 0...(@emails.length) %>
			<div>
				<li> 
				<%= link_to "email", email_path(i) %>
				<%= sender_name(@emails[i])[0]%>
				<%= sender_email_address(@emails[i]).to_s %>
	   			<%= email_recieved_date(@emails[i]) %> 
	   			<%= email_subject(@emails[i]) %> 
	   			<%= email_text_body(@emails[i]) %> 
	   			</li>
			</div>
	   		<br>
		<% end %>
	</ul>
