
<h1>MailMonsters</h1>
	<div id='email-area'>
		<table>
			<% for i in 0...(@emails.length) %>
				<tr class='email-information'>
					<td><a href='<%= email_path(i) %>'><%= sender_name(@emails[i])[0] %></td></a>
					<td>
						<a href='<%= email_path(i) %>'>
						<span><%= email_subject(@emails[i]) %></span> 
			   			<span><% email_text_body(@emails[i]) %></span>
			   			</a>
					</td>
			   		<td>
			   			<a href='<%= email_path(i) %>'>
			   			<%= email_recieved_date(@emails[i])%>
			   			</a>
			   		</td>
				</tr>
			<% end %>
		</table>
	</div>
	
		
	
