<div class="row">
  <h5>Choose your monster</h5>
	<div class="monster-buttons">
		<%= form_tag '/monster_choice' do%>
		<div class="row">
			<%= submit_tag 'Dragon', class: "monster-button green darken-1" %>
			<%= submit_tag 'Cat', class: "monster-button yellow lighten-1" %>
      <%= submit_tag 'Chicken', class: "monster-button red lighten-1" %>
      <%= submit_tag 'Bird', class: "monster-button blue lighten-1" %>
    </div>
		<% end %>
	</div>
</div>
