<table>
  <% i = (@emails.length) - 1 %>
  <% until i < 0 %>
    <tr class='email-information'>
      <td><a href='<%= email_path(i) %>'><%= sender_name(@emails[i])[0] %></a></td>
      <td>
        <a href='<%= email_path(i) %>'>
        <span><%= email_subject(@emails[i]) %></span>
          <span><% email_text_body(@emails[i]) %></span>
          </a>
      </td>
        <td>
          <a href='<%= email_path(i) %>'>
          <%= email_recieved_date(@emails[i])%>
          </a>
        </td>
    </tr>
    <% i -= 1 %>
  <% end %>
</table>
