<ul class="collection">
  <% i = (@emails.length) - 1 %>
  <% until i < 0 %>
  <li class="collection-item">
    <table>
        <tr class='email-information'>
          <td><a href='<%= show_email_path(params[:mailbox],i) %>'><%= sender_name(@emails[i])[0] %></a></td>
          <td>
            <a href='<%= show_email_path(params[:mailbox],i) %>'>
            <span><%= email_subject(@emails[i]) %></span>
              <span><% email_text_body(@emails[i]) %></span>
              </a>
          </td>
            <td>
              <a href='<%= show_email_path(params[:mailbox],i) %>'>
              <%= email_recieved_date(@emails[i])%>
              </a>
            </td>
        </tr>
    </table>
  </li>
  <% i -= 1 %>
  <% end %>
</ul>
