<div id='email-area'>

		<ul class="collection">
		  <% i = (@emails.length) - 1 %>
		  <% until i < 0 %>
		  <li class="collection-item">
					<span class="bold"><a href='<%= show_email_path(params[:mailbox],i) %>'><%= sender_name(@emails[i])[0] %></a></span>

          <a href='<%= show_email_path(params[:mailbox],i) %>'><%= email_subject(@emails[i]) %></a>

          <span class="date"><a href='<%= show_email_path(params[:mailbox],i) %>'>
          <%= email_recieved_date(@emails[i])%></a></span>
		  </li>
		  <% i -= 1 %>
		  <% end %>
		</ul>
</div>
