<!DOCTYPE html>
<html>
  <head>
    <title>MailMonsters</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

    <!-- CSS 1-materialize, 2-rails default -->
    <!-- 1 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <%= stylesheet_link_tag    'materialize', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- 2 -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <div id='app-area'>
      <% if current_user %>
        <% if current_user.monster_id != nil %>
        <header>
          <nav class="top-nav">
            <!-- <div class="container"> -->
              <div class="nav-wrapper">
                <!-- sing div for monster background -->
              </div>
            <!-- </div> -->
          </nav>
          <div class="container">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
          </div>
          <!-- render navigation partial -->
          	<%= render "layouts/nav" %>
        </header>
          <!-- render mailbox -->
          <section id="monster-area">
            <% if current_user.monster_id == 1 %>
              <div class="monster-background" style="background-image: url(https://s3-us-west-2.amazonaws.com/mailmonsters/mail-monsters-zip/backgrounds/sakura-bg.png);">
            <% elsif current_user.monster_id == 2 %>
              <div class="monster-background" style="background-image: url(https://s3-us-west-2.amazonaws.com/mailmonsters/mail-monsters-zip/backgrounds/high-mountain.png);">
            <% elsif current_user.monster_id == 3 %>
              <div class="monster-background" style="background-image: url(https://s3-us-west-2.amazonaws.com/mailmonsters/mail-monsters-zip/backgrounds/cookie-mountain.png);">
            <% elsif current_user.monster_id == 4 %>
              <div class="monster-background" style="background-image: url(https://s3-us-west-2.amazonaws.com/mailmonsters/mail-monsters-zip/backgrounds/morning-park.png);">
            <% end %>
              <div class="monster-place">
                <%= image_tag(reaction(Monster.find(current_user.monster_id))) %>
              </div>
            </div>
          </section>
          <main>
            <div class="row">
              <div class="col s9 offset-s3">
                <%= yield %>
              </div>
            </div>
          </main>
        <% else %>
          <!-- render monster selector -->
          <h1>I dont have a monster</h1>
        <% end %>
      <% else %>
        <%= render "emails/login" %>
      <% end %>
    </div>
  </body>
</html>
