<!DOCTYPE html>
<html>
  <head>
    <title>MailMonsters</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id='app-area'>
      <% if current_user %>
        <div>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        </div>

        <div>
        <%= link_to 'Compose', new_email_path %>
        </div>
        

      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>

      <% end %>
      <%= yield %>
    </div>
  </body>
</html>